body {
    background-color: #071952;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #35A29F;
}
 
#banner {
    background-color: #35A29F;
    color: #97FEED;
    padding: 30px;
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.britannica.com%2F84%2F73184-050-05ED59CB%2FSunflower-field-Fargo-North-Dakota.jpg&tbnid=kOq_xpVV1MhvsM&vet=12ahUKEwji7_fjiYuAAxUOtlYBHSLoDAMQMygBegUIARDAAQ..i&imgrefurl=https%3A%2F%2Fwww.britannica.com%2Fscience%2Fflower&docid=Zih9vqAzJOmeTM&w=1600&h=991&q=flower&ved=2ahUKEwji7_fjiYuAAxUOtlYBHSLoDAMQMygBegUIARDAAQ");
}
 
#menulist {''
    padding: 0;
    position: relative;
    overflow: auto;
}
.menuitem {
    width : 165px;
    float : left; 
    background-color: #176B87;
    list-style-type: none;
    margin:4px;
    padding: 10px;
    text-align: center;
    cursor:pointer;
}
 
#menulist li a {
    color: white;
    text-decoration: none;
}
 
 
h2 {
    color: #35A29F;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
 
.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}
 
#section-about p {
    text-align: justify;
    text-align: center;
}
 
 
 
#servicelist {
    padding: 0;
    position: relative;
    overflow: auto;
}
 
.serviceitem {
    width : 30%;
    float : left; 
    background-color: #176B87;
    list-style-type: none;
    margin:4px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    cursor:pointer;
}
 
#resumelist {
    padding: 0;
    position: relative;
    overflow: auto;
}
 
.resumeitem {
    width : 30%;
    float : left; 
    list-style-type: none;
    margin:4px;
    padding: 10px;
    text-align: left;
    cursor:pointer;
}